{{page-title 'Roster'}}
<h1>Roster</h1>

<p>These characters are feature characters who were previously played on CDMUSH, and who are now currently open for application. Click on the 'Claim' button, or submit a roster/claim request on the game, in order to express your interest in one of these characters.</p><p>If a character isn't on this page, or in the active <a href="https://commondescentmush.com/chars">Character Directory</a>, they likely are open, and have simply never been created on the game before. Ask a staffer if that is the case!</p>

<ul class="nav nav-tabs">
{{#each model.roster as |group|}}

      <li class={{group.active_class}}><a data-toggle="tab" href="#{{group.key}}">{{group.name}}</a></li>
{{/each}}
</ul>

<div class="tab-content">    

{{#each model.roster as |group|}}

  <div id="{{group.key}}" class="tab-pane fade in {{group.active_class}}">

    {{#each group.chars as |char|}}
    
    <div class="roster-char-title">{{char.military_name}}</div>
    

    <div class="row">
      <div class="col col-xs-12 col-sm-3">
          <CharIcon @char={{char}} />
      </div>
      <div class="col col-xs-12 col-sm-9">
          
          <p><AnsiFormat @text={{char.roster_notes}} /></p>
           
          
          {{#each-in char.fields as |field value| }}
          <div><b>{{field}}:</b> {{value}}</div>
          {{/each-in}}
          
          <p><b>Contact:</b> {{char.contact}} </p>
            
                  
           <div class="roster-char-warnings">
               {{#if char.previously_played}}
             <span class="label label-info">Previously Played</span>
             {{/if}}
      
             {{#if char.app_required}}
             <span class="label label-warning">App Required</span>
             {{/if}}
            
           </div>
           
             
          <div>  
             <LinkTo @route="char" @model={{char.name}} class="btn btn-default">Profile</LinkTo>
             <LinkTo @route="roster-claim" @model={{char.id}} class="btn btn-primary">Claim</LinkTo>
           </div>
             
        </div>
      </div>
    
    {{/each}}

</div>

{{/each}}

</div>

{{outlet}}